<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered custom-list-data1">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="search-bar">
            <div class="row">
                <div class="col-sm-4">
                    <form id="search_form" action="" method="get">
                        <select class="form-control" id="id_group" name="id_group">
                            <option value="">Chọn danh mục</option>
                            <option value="1">Liên hệ tư vấn</option>
                            <option value="2">Liên hệ thuê</option>
                            <option value="3">Liên hệ bán</option>
                        </select>
                    </form>
                </div>

                <div class="col-sm-8 c-boxctr-search">
                    <input type="text" placeholder="Name" class="form-control search_title">
                    <button class="btn-ctrl btn-cyan-trans btn-search" type="button" ng-click="search_datatable()">
                        <i class="fa fa-search"></i>
                        <span>Search</span>
                    </button>
                </div>
            </div>

        </div>
        <table id="tbl-data" class="table table-striped table-bordered table-hover order-column" cellspacing="0">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Điện thoại</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

<div class="modal fade modal_cmpost" id="modal_addrow" tabindex="-1" role="dialog" aria-labelledby="modal_addrowLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_addrowLabel">Thêm mới</h4>
            </div>
            <div class="modal-body">
                <form id="form_add" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group image_upload_box">
                                <label class="next-label">Hình</label>
                                <div class="file_upload_box">
                                    <input type="file" class="file_image">
                                    <img class="image_review" src="/public/img/no-image.png" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">

                            <div class="form-group">
                                <label class="next-label">Title</label>
                                <input type="text" class="form-control" name="title">
                            </div>

                            <div class="form-group">
                                <label class="next-label">Status</label>
                                <select class="form-control" name="status">
                                    <option value="0">Activated</option>
                                    <option value="1">Unactivated</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn_addrow"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_cmpost" id="modal_editrow" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-modalLabel">Sửa</h4>
            </div>
            <div class="modal-body">
                <form id="form_edit" autocomplete="off">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_editrow"><i class="fas fa-pencil-alt"></i> Sửa</button>
            </div>
        </div>
    </div>
</div>