// import
@import "element";
// End import

.custom-list-data1{
	div.dataTables_wrapper div.dataTables_length label{
		margin-bottom: 0px;
	}

	.dataTables_wrapper .dataTables_length{
		position: absolute;
		right: 0px;
		top: -110px;
	}

	.search-bar {
		margin-bottom: 12px;
	}

	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
		vertical-align: middle;
	}
}

.image-upload{
	.row-fluid.pos-r{
		width: 100%;
		border: 1px solid #ddd;
		position: relative;
		height: auto;
		padding: 5px;
	}

	.socialmediaside2{
		display: none;
	}

	.form-group>div{
		padding: 0px !important;
	}

	.portimg{
		width: 100%;
	}

	.btn-upload-file,
	.upload_button{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		opacity: 0;
		z-index: 101;
	}

	.is-fileinput{
		margin-bottom: 0px;
	}

	&.edit{
		.row-fluid.pos-r{
			max-width: 320px;
		}
	}
}

.center-mod{
	display: block;
	margin: 0 auto;
}

.data-avatar{
	max-height: 50px;
}

/********** LOADING **********/
.cssload { width: 40px; height: 40px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: inline-block; margin: auto; }

.cssload span, .cssload span::before, .cssload span::after { top: 0; left: 0; position: absolute; border-bottom: 2px solid transparent !important; border: 2px solid #007F73; border-radius: 50% !important; -o-border-radius: 50%; -ms-border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; width: 100% !important; height: 100% !important; display: inline-block; }

.cssload span {
  margin: -2px 0 0 -2px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload span, .cssload span::before, .cssload span::after {
  top: 0;
  left: 0;
  position: absolute;
  border-bottom: 2px solid transparent !important;
  border: 2px solid #007F73;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 100% !important;
  height: 100% !important;
  display: inline-block;
}

.cssload span::before {
  content: "";
  margin: 5% 0 0 5%;
  height: 90% !important;
  width: 90% !important;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload span::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70% !important;
  width: 70% !important;
  animation: cssload-rotate 2300ms linear infinite;
  -o-animation: cssload-rotate 2300ms linear infinite;
  -ms-animation: cssload-rotate 2300ms linear infinite;
  -webkit-animation: cssload-rotate 2300ms linear infinite;
  -moz-animation: cssload-rotate 2300ms linear infinite;
}

.spinner {
  -o-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite
}


@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(360deg)
  }
}

@-ms-keyframes rotation {
  0% {
    -ms-transform: rotate(0)
  }
  100% {
    -ms-transform: rotate(360deg)
  }
}

@-o-keyframes rotation {
  0% {
    -o-transform: rotate(0)
  }
  100% {
    -o-transform: rotate(360deg)
  }
}

/********** ANIMATIONS **********/
@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.dropzone{
    min-height: 222px;
    overflow: hidden;
  }
.intro-new-custom{
	.dropzone{
		min-height: 222px;
	}

	textarea.form-control{
		min-height: 222px;
	}
}

.detail-profile-user{
  .avatar{
    margin-bottom: 15px;
  }

  .table{
    tr{
      td{
        &:first-child{
          white-space: nowrap;
          color: #2C3E50;
        }
      }
    }
  }
}

.dropzone{
  min-height: 300px;
}

.select2-container--bootstrap .select2-selection{
  box-shadow: none;
}

.select2_users-ame-mod{
  padding-right: 5px;
}

.select2_users-tel-mod{
  color: #D91E18;
}

#tbl-dataz_wrapper > .row{
  .col-sm-6{
    width: 100%;
    height: 0px;
  }
}

#tbl-dataz_filter{
  display: none;
}

.load_courese_sub{
  .well{
    position: relative;

    .btn-circle{
      position: absolute;
      right: 0px;
      top: 0px;
      border: none;
      background: none;
    }
  }
}

.ctr-group-user.hidden{
  display: none;
}

.palyer-list-images{
  .row{
    margin-left: -10px;
    margin-right: -10px;

    .col-sm-2{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .img-mod{
    @include img-mod(100,100,center);
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: hidden;

    .btn-xs{
      position: absolute;
      left: 150%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 101;
      transition: all 0.3s ease;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    &:hover{
      .btn-xs{
        left: 50%;
      }
    }

    img{
      max-width: calc(100% - 10px);
      max-height: calc(100% - 10px);
      z-index: 100;
    }
  }
}

.op-0{
  opacity: 0;
}

#icon-load{
  .modal-body{
    padding-left: 10px;
    padding-right: 10px;
  }
}

.general-info{
  margin-left: -10px;
  margin-right: -10px;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;

  .col-sm-3{
    padding: 10px;
    text-align: center;

    .item-mod{
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 5px !important;
      position: relative;
    }

    .delete-mod{
      position: absolute;
      right: -10px;
      top: -10px;
      width: 20px;
      height: 20px;
      background: #ddd;
      color: #fff;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      font-size: 10px;
      cursor: pointer;

      &:hover{
        background: red;
      }
    }

    .icon-mod{
      font-size: 20px;
    }

    .title-mod{
      white-space: nowrap;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 5px;
    }
  }
}

.iconpicker-container .input-group-addon>i{
  color: #333;
}

.iconpicker-popover.popover{
  z-index: 900;
}

#pac-input{
  top: 10px !important;
  height: 28px;
  padding-left: 10px;
}

.page-sidebar .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before{
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fa.fa-trash-o{
  &:before{
    content: "\f2ed";
    font-weight: 400;
  }
}

.fa.fa-long-arrow-left{
  &:before{
    content: "\f060";
  }
}

.teo{
  @include img-mod(1272,573,full);
}

.table-scrollable>.table-bordered>tbody>tr>td:last-child, .table-scrollable>.table-bordered>tbody>tr>th:last-child, .table-scrollable>.table-bordered>tfoot>tr>td:last-child, .table-scrollable>.table-bordered>tfoot>tr>th:last-child, .table-scrollable>.table-bordered>thead>tr>td:last-child, .table-scrollable>.table-bordered>thead>tr>th:last-child{
  white-space: nowrap;
}

.adminupload_img{
  position: relative;

  img{
    width: 100%;
    height: auto;
  }

  input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 101;
    cursor: pointer;
  }
}

.img_mb_box{
  margin-left: -3px;
  margin-right: -3px;

  .col-sm-4{
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 6px;
  }

  .img-mod{
    position: relative;
    padding-bottom: 100%;
    border: 1px solid #ddd;
    overflow: hidden;

    a{
      position: absolute;
      left: 150%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      display: block;
      transition: all 0.3s ease;
    }

    img{
      position: absolute;
      max-width: calc(100% - 6px);
      max-height: calc(100% - 6px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
    }

    &:hover{
      a{
        left: 50%;
      }
    }
  }

  .add_img_mb{
    position: relative;
    padding-bottom: 100%;
    border: 1px solid #ddd;

    span,
    i{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: #ddd;
      z-index: 100;
    }

    input{
      position: absolute;
      z-index: 101;
      width: 100%;
      height: 100%;
      opacity: 0;
      left: 0px;
      top: 0px;
      cursor: pointer;
    }

    &:hover{
      border-color: #2ab4c0;

      span,
      i{
        color: #2ab4c0;
      }
    }
  }
}

.lang_pick{
    width: 16px;
    height: 11px;
    margin-left: 5px;
    opacity: 0.3;
    cursor: pointer;

    &.active{
        opacity: 1;
        /* box-shadow: 0 0 1px rgba(34, 25, 25, 0.4); */
    }
}

.value_lang{
    display: none;

    &.active{
        display: block;
    }
}

.lang_label{
    position: relative;
    display: block;

    .lang_pick{
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

    .lang_pick[data-lang="en"]{
        right: 21px;
    }

    .lang_pick[data-lang="cn"]{
        right: 42px;
    }
}

.lang_alt{
    display: none;

    &.active{
        display: inline-block;
    }
}

.portlet{
    ._en{
        display: none !important;
    }

    &._en_mod{
        .title-mod{
            display: none !important;
        }
        .title-mod._en{
            display: block !important;
        }
    }
}

.controls.cf{
    display: none;
}

.grid-footer{
    display: none;
}

.custom-list-data1.modal-body .dataTables_wrapper .dataTables_length{
    display: none;
}

.custom-list-data1.modal-body .dataTables_filter{
  display: none;
}

.card-title_en,
.card-value_en{
    display: none;
}
._en_mod{
    .card-title_en,
    .card-value_en{
        display: block;
    }

    .card-title,
    .card-value{
        display: none;
    }
}

.grid-footer1{
    margin-top: 15px;
}

.card{
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    border: none;
    font-size: 16px;
    border-radius: 5px !important;
}

.card-id_tq{
    display: none;
}

.card-id_data{
    font-size: 20px;
}

.card_child{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);

    div{
        padding-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}

.card .card-remove{
    color: #999;
    font-size: 16px;

    &:hover{
        color: red;
    }
}

.card-id{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50% !important;
    color: #fff;
    background: #36c6d3;
    left: 10px;
    top: 10px;
}

.top-menu{
    .goog-te-gadget .goog-te-combo{
        margin: 5px 0;
    }
    #google_translate_element{
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        padding-right: 5px;
        padding-left: 5px;

        .goog-te-combo{
            height: 26px;
            padding-left: 5px;
            padding-right: 25px;
            box-shadow: none;
            outline: none;
            border: 1px solid #ddd;
        }

        @media screen and (max-width: 1199px){
            display: none;
        }
    }

    @media screen and (min-width: 1100px){
        width: calc(100% - 235px);
        position: relative;
    }
}

.toggle-check {
    display: inline-block;
    cursor: pointer
}
.toggle-check span {
    background-color: #bbbbbb;
    border-radius: 15px !important;
    display: inline-block;
    height: 24px;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
    width: 50px
}
.toggle-check span:before {
    background-color: #ffffff;
    border-radius: 50% !important;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    top: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 20px
}
.toggle-check input {
    display: none
}
.toggle-check input:checked+span {
    background-color: #0085A7
}
.toggle-check input:checked+span:before {
    left: 27px
}
.toggle-check input:checked+span:after {
    color: #ffffff;
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    left: 7px;
    position: absolute;
    top: 1px;
    font-size: 16px;
    line-height: 1.4
}
.toggle-check-img {
    cursor: pointer
}
.toggle-check-img input {
    display: none
}
.toggle-check-img input ~ .checked {
    display: none
}
.toggle-check-img input ~ .unchecked {
    display: block
}
.toggle-check-img input:checked ~ .unchecked {
    display: none
}
.toggle-check-img input:checked ~ .checked {
    display: block
}
.toggle-check.lh-37 {
    line-height: 37px
}

.search-bar{
    >.row{
        margin-right: 0px;

        &.full{
            margin-left: 0px;
        }
    }
    .uneditable-input,
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"] {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          -webkit-appearance: none !important;
          color: #282323;
          outline: 0;
          height: 16px;
          padding: 6px 11px !important;
          line-height: 15px;
          font-size: 13px;
          font-weight: normal;
          vertical-align: top;
          background-color: #ffffff;
          min-height: 37px;
          -webkit-box-shadow: none !important;
          -moz-box-shadow: none !important;
          box-shadow: none !important;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          border: 1px solid #e5e9ec;
          transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
        }
        input {
          border: 1px solid #cecece;
        }

    .btn-ctrl {
        background-color: transparent;
        border: 1px solid;
        color: #333333;
        font-size: 14px;
        height: 37px;
        padding: 7px 10px;
        border-radius: 3px !important;
        overflow: hidden
    }
    .btn-ctrl:hover,
    .btn-ctrl:focus {
        color: #fff;
        text-decoration: none;
        background-color: transparent
    }
    .btn-ctrl .fa {
        margin-right: 5px
    }

    .btn-cyan-trans {
        color: #0aa699;
        background-color: #fff;
        border-bottom-width: 2px
    }
    .btn-cyan-trans:hover,
    .btn-cyan-trans:focus {
        border-color: #0aa699;
        color: #0aa699
    }
    .btn-green {
        background-color: #83b702;
        border: 1px solid transparent;
        border-radius: 3px !important;
        color: #ffffff;
        height: 37px;
        padding: 0 15px;
        line-height: 37px;
        font-size: 14px
    }
    .btn-green-trans {
        background-color: #fff;
        border-width: 1px 1px 2px;
        border-style: solid;
        display: inline-block;
        color: #6FB3E0;
        border-color: #6FB3E0;
        padding-left: 25px;
        padding-right: 25px
    }
    .btn-green-trans:hover,
    .btn-green-trans:focus {
        color: #6FB3E0;
        background-color: #fff;
        text-decoration: none;
    }
    .btn-green-trans .fa {
        margin-right: 5px
    }
    &.c-style2{
        .c-boxctr-search{
            padding-left: 0px;

            .form-control{
                border-left: 1px solid #ddd;
            }
        }
    }

    &.c-style3{
        .c-seachbox-dropdow{
            top: 47px;
        }
    }

    .btn-green-trans{
        padding-left: 15px;
        padding-right: 15px;
    }

    .g-table-button{
        max-width: none;
        width: 100%;
    }

    .dialog-box{
        padding: 0px;
        max-width: none;
        box-shadow: none;
        margin-bottom: 0px;
    }
    .dialog-row{
        margin-bottom: 0px;
        position: relative;
    }

    .c-boxctr-search{
        position: relative;
        padding-left: 190px;
        padding-right: 120px;

        .btn-search{
            position: absolute;
            right: 0px;
            top: 0px;
            margin-right: 0px;
            border: 1px solid #E5E9EC;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 120px;
        }

        >.form-control{
            border-right: none;
            border-radius: 0px; 
        }

        .c-ctr-open{
            position: absolute;
            left: 0px;
            top: 0px;
            line-height: 37px;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid #ddd;
            display: block;
            height: 37px;
            width: 190px;
            cursor: pointer;

            .fa{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }

            &.active{
                .fa{
                    &:before{
                        content: "\f079";
                    }
                }
            }
        }
    }

    .c-seachbox-dropdow{
        width: 350px;
        position: absolute;
        border-radius: 3px;
        left: 0px;
        top: 55px;
        //box-shadow: 0 1px 1px 0 rgba(0,0,0,0.32),0 0 0 1px rgba(0,0,0,0.16);
        background: #fff;
        border: 1px solid #ddd;
        padding: 20px 20px 0px;

        margin-top: 15px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;

        &.active{
            margin-top: 0px;
            z-index: 1000;
            opacity: 1;
            visibility: visible;
        }
    }

    .c-seachbox-dropdow:after, .c-seachbox-dropdow:before {
        bottom: 100%;
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .c-seachbox-dropdow:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-right: -35px;
    }
    .c-seachbox-dropdow:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ddd;
        border-width: 11px;
        margin-right: -36px;
    }
}

.label.label-sm{
    font-size: 12px;
    border-radius: 3px !important;
}
.label-success{
    background: #5cb85c;
}
.label-danger{
    background: #d9534f;
}

.giasp{
    position: relative;
    padding-right: 100px;
    .sub-label{
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.position_box{
  max-height: 111px;
  overflow-x: hidden;
}

.position_box .btn.grey-cascade:not(.btn-outline).active{
  color: #FFF;
  background-color: #32c5d2;
  border-color: #32c5d2;
}

.pos-hidenid{
  tr{
    th,td{
      &:first-child{
        display: none;
      }
    }
  }
}

.table-hiddenid{
  tr{
    th,td{
      &:first-child{
        display: none;
      }
    }
  }
}

#tbl-data{
  thead tr th{
    white-space: nowrap;
  }

  tbody tr td{
    &:last-child{
      white-space: nowrap;
    }
  }
}
.page-header.navbar .page-logo img{
  width: 86px;
}

.toggle-body{
  .portlet-body{
      display: none;
  }
}

.toggle-body .portlet-title{
  cursor: pointer;
}

/* .new-order{
  font-weight: bold;
}
 */
.order-info-box{
  position: relative;
  cursor: pointer;

  .caption{
    color: #337ab7;
  }

  &:hover{
    .list{
      opacity: 1;
      visibility: visible;
    }
  }
  .list{
    position: absolute;
    left: 50px;
    top: 100%;
    padding-top: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    transition: all 0.3s ease;
    font-weight: normal;

    .list-item:after, .list-item:before {
        bottom: 100%;
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        z-index: 200;
        pointer-events: none;
    }

    .list-item:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-right: -35px;
    }
    .list-item:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ddd;
        border-width: 11px;
        margin-right: -36px;
    }
    
    ul{
      background: #fff;
      list-style: none;
      margin: 0px;
      padding: 10px;
      border: 1px solid #ddd;
      position: relative;
      min-width: 250px;

      li{
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
      .email-mod{
        white-space: nowrap;
      }
    }
  }
}

.table-order .table-responsive{
  overflow: unset;
}


.order-comment-box{
  position: relative;
  cursor: pointer;

  i{
    color: #F07921;
  }

  &:hover{
    .def-mod{
      opacity: 1;
      visibility: visible;
    }
  }
  .def-mod{
    position: absolute;
    left: 50px;
    top: 100%;
    padding-top: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    transition: all 0.3s ease;
    font-weight: normal;

    .data-mod:after, .data-mod:before {
        bottom: 100%;
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        z-index: 200;
        pointer-events: none;
    }

    .data-mod:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-right: -35px;
    }
    .data-mod:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ddd;
        border-width: 11px;
        margin-right: -36px;
    }
    
    .data-mod{
      background: #fff;
      margin: 0px;
      padding: 10px;
      border: 1px solid #ddd;
      position: relative;
      min-width: 320px;
      min-height: 120px;
      text-align: left;
    }
  }
}

.label.label-sm {
    font-size: 9px;
    border-radius: 3px !important;
    font-weight: bold;
}

.center-text{
  text-align: center;
}

table.dataTable.custom-padding{
   thead th, thead td{
    padding: 10px 10px;
   }
}

.order-table{

}
table.dataTable.order-table thead td, table.dataTable.order-table thead th {
  border-bottom: none;
}

.table.order-table thead tr th{
  font-weight: normal;
}

table.dataTable.order-table thead .sorting{
  background: none;
}

.pay_icon_flase{
  color: red;
}
.pay_icon_true{
  color: #76b51b;
}

.list-status-order{
  margin: 0px;
  padding: 0px;
  list-style: none;

  li{
    height: 35px;
    line-height: 35px;
    position: relative;
    margin-bottom: 5px;
    background: #eef1f5;
    padding-left: 35px;

    .text-mod1{
      display: none;
    }

    &.none-mod{
      .btn{
        display: none;
      }
    }

    &.active-red{
      color: red;
      background: none;
      border: 1px solid red;
      .btn{
        display: none;

        &.btn_show_outlog{
          display: block;
        }
      }
      .text-mod1{
        display: inline-block;
      }
      .text-mod0{
        display: none;
      }
    }

    &.active{
      color: #76b51b;
      background: none;
      border: 1px solid #76b51b;
      .btn{
        display: none;
      }

      .text-mod1{
        display: inline-block;
      }
      .text-mod0{
        display: none;
      }
    }

    &:last-child{
      margin-bottom: 0px;
    }

    .btn{
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
    }

    .btn_show_outlog{
      display: none;
    }

    i{
      position: absolute;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px !important;
      left: 0px;
      top: 0px;
    }
  }
}

.show_outlog{
  display: none;
}

.search-bar .btn.blue.uppercase.bold{
  padding: 7.5px 12px;
}

.edit-row{
  color: #337ab7;
  cursor: pointer;

  &:hover{
    i{
      opacity: 1;
    }
  }

  i{
    color: #e7505a;
    opacity: 0;
    transition: all 0.3s ease;
  }
}

.ctr_add_donvi{
  color: #337ab7;
  cursor: pointer;
}

.tool-col{
  width: 150px;
}


#tbl-data tbody tr td:last-child{
  .btn{
    margin-right: 1px;
    &:last-child{
      margin-right: 0px;
    }
  }
}

table.dataTable td.sorting_1{

}

.table>tbody>tr.active>td,
table.dataTable>tbody>tr.active td.sorting_1{
  background-color: #eef1f5 !important;
}

.show-category{
  .ctrvitri{
    display: none;
    cursor: pointer;

    &.hidden0{
      display: inline-block;
    }
  }
}

a{
  text-decoration: none;

  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }
}

.table .info_comment{
  .btn{
    margin-right: 1px;
    &:last-child{
      margin-right: 0px;
    }
  }
}

.table_img{
  height: 60px;
  width: 100px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;

  img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.boxdropzone_gallery,
.boxdropzone_gallery_edit{
  .dropzone{
    min-height: 251px;
  }

  .dropzone .dz-preview{
    margin: 8px;
  }
}

.blockUI.blockOverlay{
  z-index: 10051 !important;
}
.blockUI.blockMsg.blockPage{
  z-index: 10052 !important;
}

.video_upload_box{
  .video_review{
    iframe{
      margin-top: 10px;
      display: none;
    }
  }
}

.load_album_comment{
  margin-bottom: 10px;

  .row{
    margin-left: -6px;
    margin-right: -6px;

    .col-sm-3{
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .item{
    padding-bottom: 100%;
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 12px;

    img{
      max-width: calc(100% - 10px);
      position: absolute;
      max-height: calc(100% - 10px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .btn-delete-album{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.del-record[data-id="129"],
.del-record[data-id="130"]{
  display: none;
}

.box_show_category{
  .loaitp{
    list-style: none;
    padding-left: 0px;

    >li{
      border: 1px solid #ddd;
      margin-bottom: 15px;

      p{
        padding: 10px;
        margin-bottom: 0px;
        background: #ddd;
        font-weight: bold;
      }
    }
  }

  .danhmuc{
    list-style: none;
    padding-left: 0px;

    >li{
      padding: 10px;
    }
  }
}

.btn-ctrl.c_mod{
  cursor: pointer;
}

#tbl-data.TBlang tbody tr td:last-child {
    white-space: normal;
}

#tbl-data.TBlang tbody tr td:nth-of-type(2){
    white-space: nowrap;
}

.file_upload_box{
    position: relative;
    border: 1px solid #ddd;
    background: url('/public/img/bgimg.png');
    padding: 5px;
    text-align: center;

    img{
      max-width: 100%;
    }

    input{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 100;
        cursor: pointer;
        left: 0px;
        top: 0px;
    }
}

#toast-container{
  z-index: 2000000001 !important;
}

.banking_infor{
  background: #eef1f5;
  padding: 10px;
  margin-top: 15px;

  p{
    margin-bottom: 5px;

    &:last-child{
      margin-bottom: 0px;
    }
  }
}

.product_user_view{
    max-height: 200px;
    overflow-x: hidden;
    
    img{
        max-width: 100px;
        max-height: 100px;
    }
}

.select2-selection__rendered{
    .img-box{
        display: none;
    }
}

.select2-results__option{
    .img-box{
        padding: 3px;
        margin-right: 10px;
        display: inline-block;
        width: 50px;
        background: #eee;

        img{
            width: 100%;
        }
    }
}

.load_report{
    max-height: 500px;
    overflow-x: hidden;
}

#bieudo_box .portlet-body{
    padding-left: 30px;
    .chart{
        padding-right: 30px !important;
    }
}

.kieu_bieudo{
    display: none;

    &.active{
        display: block;
    }
}

.btn_export{
    cursor: pointer;
}

.btn_status{
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px !important;

    &.red{
        background: tomato;
        font-size: 12px;
    }

    &.green{
        background: #26C281;
        font-size: 10px;
    }
}

.dd-item > button:before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.dd-list{
    .dd-item{
        position: relative;

        .ctr_action{
            position: absolute;
            right: 10px;
            top: 9px;
        }
    }

    .dd-handle{
        height: 40px;
        padding: 10px 10px;
    }

    .dd-item > button{
        margin: 11px 0;
    }

    .btn.blue:not(.btn-outline){
        background: none;
        color: #666;
        border: none;

        &:hover{
            color: #3598dc;
        }
    }

    .btn.red:not(.btn-outline){
        background: none;
        color: #666;
        border: none;

        &:hover{
            color: tomato;
        }
    }

    .btn.green:not(.btn-outline){
        background: none;
        color: #32c5d2;
        border: none;
    }

    .btn-xs{
        padding: 1px 2px;
    }
}

.load_cat{
    .dd-handle{
        position: relative;
        cursor: pointer;

        .checked{
            display: none;
        }

        .no-check{
            display: block;
        }


        &.active{
            .checked{
                display: block;
            }

            .no-check{
                display: none;
            }

            i{
                color: #32c5d2;
            }
        }

        i{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.datepicker .active{
    background: #fff9e6 !important;
}
.datepicker .active:hover{
    background: #fff9e6 !important;
}

.label-link{
    display: block;
    a{
        float: right;
    }
}

.add_list_box{
    .error{
        border-color: tomato;
    }
    .list_box{
        background: #ddd;
        min-height: 50px;
        padding: 10px;
        max-height: 200px;
        overflow-x: hidden;

        span{
            display: inline-block;
            padding: 3px 10px;
            background: #fff;
            margin-right: 5px;
            margin-bottom: 5px;

            b{
                font-weight: normal;
            }

            i{
                margin-left: 5px;
                cursor: pointer;
                color: #666;

                &:hover{
                    color: tomato;
                }
            }
        }
    }
}
