
/* Controls */

.grid-box-sort .controls {
  margin: 30px -10px;
}
.grid-box-sort .control {
  position: relative;
  float: left;
  width: 25%;
  padding: 0 10px;
}
@media (max-width: 600px) {
  .grid-box-sort .control {
    float: none;
    width: auto;
    margin: 0 0 15px 0;
  }
  .grid-box-sort .control.layout {
    margin: 0;
  }
}
.grid-box-sort .control-icon {
  position: absolute;
  left: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}
.grid-box-sort .control-field {
  position: relative;
  padding-left: 40px;
  z-index: 1;
}

/* Grid */

.grid {
  position: relative;
  /* max-width: 1050px;
  margin: 0 -10px; */
  margin-left: -10px;
  margin-right: -10px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.item_code {
  position: absolute;
  height: 130px;
  z-index: 1;
  padding: 10px;
  margin: auto;
}
.item_code.muuri-item-positioning {
  z-index: 2;
}
.item_code.muuri-item-dragging,
.item_code.muuri-item-releasing {
  z-index: 9999;
}
.item_code.muuri-item-dragging {
  cursor: move;
}
.item_code.muuri-item-hidden {
  z-index: 0;
}
.item_code.h2 {
}
.item_code.w2 {
  width: 290px;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  background-color: rgba(255,255,255,0.9);
  color: #333;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.item_code.red .card {
  color: #f94a7a;
}
.item_code.green .card {
  color: #2ac06d;
}
.item_code.blue .card {
  color: #4A9FF9;
}
.card-id {
  position: absolute;
  left: 7px;
  top: 0;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
.card-remove {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.card:hover > .card-remove {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Grid Footer */
.grid-footer .btn .material-icons {
  margin-right: 10px;
  font-size: 24px;
}


/* -------------------------------------------------------------- */
.grid2 {
  position: relative;
  /* max-width: 1050px;
  margin: 0 -10px; */
  margin-left: -10px;
  margin-right: -10px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}