@media (min-width: 1200px) {
  .container {
    max-width: 93.4426229508vw;
    padding-left: 1.2295081967vw;
    padding-right: 1.2295081967vw; } }
.load_thue_ban .img {
  width: 100px; }
.load_thue_ban .row {
  display: none; }
  .load_thue_ban .row:last-child {
    display: flex; }
  .load_thue_ban .row .col-md-5 {
    visibility: hidden; }
.load_thue_ban .table {
  width: 100%; }
.load_thue_ban table.dataTable thead .sorting_desc {
  background: url("/public/assets/global/plugins/datatables/images/sort_desc.png") center right no-repeat; }
.load_thue_ban table.dataTable thead .sorting {
  background: url("/public/assets/global/plugins/datatables/images/sort_both.png") center right no-repeat; }
.load_thue_ban table.dataTable thead .sorting_asc {
  background: url("/public/assets/global/plugins/datatables/images/sort_asc.png") center right no-repeat; }
.load_thue_ban table.dataTable thead .sorting:after, .load_thue_ban table.dataTable thead .sorting_asc:after, .load_thue_ban table.dataTable thead .sorting_desc:after, .load_thue_ban table.dataTable thead .sorting_asc_disabled:after, .load_thue_ban table.dataTable thead .sorting_desc_disabled:after {
  display: none; }
.load_thue_ban .table thead th,
.load_thue_ban .table td,
.load_thue_ban .table th {
  vertical-align: middle;
  border-bottom: none; }
.load_thue_ban .table td, .load_thue_ban .table th {
  padding-left: 10px; }
.load_thue_ban .mt-checkbox {
  margin-bottom: 0px; }
.load_thue_ban .hidden {
  display: none; }
.load_thue_ban .pagination li {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border: 1px solid #ddd;
  margin-left: 3px; }
  .load_thue_ban .pagination li a {
    display: block; }
.load_thue_ban .dataTables_wrapper .row:last-child {
  margin-left: 0px;
  margin-right: 0px; }
  .load_thue_ban .dataTables_wrapper .row:last-child .col-md-7.col-sm-7 {
    padding-left: 0px;
    padding-right: 0px; }

#pac-input {
  visibility: hidden; }

.profile-block .container {
  max-width: 100% !important;
  padding: 0; }

.profile-block .block {
  padding: 0; }

.project-item.hor .content-block .price {
  flex: 0 0 10rem;
  max-width: 15rem; }

.item_albums .img_mod {
  padding-bottom: 100%;
  position: relative; }

.project-item.hor .img:before {
  display: none; }

.albums .slick-arrow,
.trading-list .slick-arrow {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease; }
.albums .slick-prev,
.trading-list .slick-prev {
  left: 10px;
  top: 50%;
  transform: translateY(-50%); }
.albums .slick-prev:before,
.trading-list .slick-prev:before {
  content: "\f2fa";
  font-family: Material-Design-Iconic-Font;
  font-size: 17px; }
.albums .slick-next,
.trading-list .slick-next {
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }
.albums .slick-next:before,
.trading-list .slick-next:before {
  content: "\f2fb";
  font-family: Material-Design-Iconic-Font;
  font-size: 17px; }

.trading-list .slick-arrow {
  visibility: visible;
  opacity: 1; }

.project-item:hover .albums .slick-arrow {
  visibility: visible;
  opacity: 1; }

.search-container .selectbox {
  flex: 0 0 10rem;
  max-width: 10rem; }

.login_link {
  margin-right: 15px; }

@media screen and (min-width: 1199px) {
  .header-logo {
    max-width: 500px; } }
.project-list {
  display: block; }

.project-list:after {
  clear: both; }

.project-list .project-item {
  float: left;
  display: block;
  width: 50%; }

.project-list .project-item.ver .list .item {
  font-size: 1rem; }

.header-top {
  display: flex !important;
  position: relative;
  z-index: 110; }

.main {
  position: relative;
  z-index: 99; }

@media screen and (min-width: 991px) {
  .main {
    padding-top: 17rem; } }
.pgpr .header-search {
  top: 40px; }
.pgpr .header {
  position: fixed; }

body.pgpr .main {
  padding-top: 8rem; }

@media screen and (max-width: 576px) {
  .project-list .project-item {
    width: 100%; } }
@media screen and (max-width: 767px) {
  .link.log-link.mr-md-2 {
    display: none; } }
.trading-list .item .img {
  width: 100%; }

section {
  margin: 0 auto; }

.filter {
  position: sticky;
  z-index: 100;
  top: 104px; }

.header {
  z-index: 100; }

.header-search {
  z-index: 100; }

@media screen and (max-width: 991px) {
  .project-list:after {
    content: "";
    display: block;
    clear: both; } }
.project .author-wrap .list .item:first-child {
  color: #f7346f;
  font-size: 20px;
  font-weight: bold; }

.rating.without-caption .rating-container .filled-stars {
  color: #fde16d; }

.place-card.place-card-large {
  display: none; }

.container.thanhcong {
  margin-top: 300px;
  margin-bottom: 100px; }

@media screen and (max-width: 1199px) {
  .container.thanhcong {
    margin-top: 190px; } }
.embed-responsive iframe {
  width: 1000px;
  height: 1000px;
  bottom: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.left.author {
  cursor: pointer; }

.banner-main {
  z-index: 101; }

.project-list .project-item.ver .list .item {
  margin-bottom: 5px; }

.infowindow-content .info {
  display: block; }

.infowindow-content .info .item {
  display: inline-block; }

.project-item.ver .list {
  height: 34px; }

.filter-collapse .list .item {
  flex: 0 0 100%;
  max-width: 100%; }

.filter-collapse {
  width: 220px; }

/*# sourceMappingURL=style.css.map */
