<div class="highcharts-menu-box">

  <div class="highcharts-menu-item">
    <span>Chart Type: </span>
  </div>

  <br>

  <div class="highcharts-menu-item">
    <select id="typeChart" class="options-chart">
      <option value="column">Column</option>
      <option value="line">Line</option>
      <option value="spline">Spline</option>
      <option value="area">Area</option>
      <option value="areaspline">Areaspline</option>
      <option value="pie">Pie</option>
    </select>
  </div>

  <br>

  <div class="highcharts-menu-item">
    <span>Stacking: </span>
  </div>

  <br>

  <div class="highcharts-menu-item">
    <select id="typeStacking" class="options-chart">
      <option value="percent">Percent</option>
      <option value="normal">Normal</option>
      <option value>None</option>
    </select>
  </div>

  <br>

  <div class="highcharts-menu-item">
    <span>Show Marker: </span>
  </div>

  <br>

  <div class="highcharts-menu-item">
    <select id="showMarker" class="options-chart">
      <option value="true">Show</option>
      <option value="false">Hide</option>
    </select>
  </div>
</div>