// custom row boostrap
@for $y from 0 through 50 {

    %row-#{$y}{
        margin-left: -#{$y/2}px;
        margin-right: -#{$y/2}px;
    }
}
// End custom row boostrap

// custom col boostrap
@for $y from 0 through 50 {

    %col-#{$y}{
        padding-left: #{$y/2}px;
        padding-right: #{$y/2}px;
    }
}
// End col boostrap

// media robot
@mixin media($screen) {
 
    @media screen and (max-width:$screen){
        @content;
    }
}
// End media robot

// limit text
@mixin texts($lh,$h,$mod) {
    @if $mod == 0{
        overflow: hidden;
        line-height: #{$lh}em;
        max-height: #{$lh*$h}em;
    }

    @if $mod == 1{
        overflow: hidden;
        line-height: #{$lh}em;
        height: #{$lh*$h}em;
    }
}
// End limit text

// clear-both
@mixin clear-both() {
    content: "";
    display: block;
    clear: both;
}
// End clear-both

// box-img
@mixin imgs($w,$h) {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: #{(($h*100)/$w)*1%};
}

@mixin img-mod($w,$h,$mod) {

    @if $mod == full{
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: #{(($h*100)/$w)*1%};

        img{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            max-width: none;
            max-height: none;
        }
    }

    @if $mod == center{
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: #{(($h*100)/$w)*1%};

        img{
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
// End box-img

// one-line
@mixin one-line(){
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
// End one-line

// center-in
@mixin center-on($mod) {
 
    @if $mod == all {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    @if $mod == width {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @if $mod == height {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
// End center-in

// widths
@mixin widths($w,$full) {
  width: #{(($w*100)/$full)*1%};
}
// End widths

// center-off
@mixin center-off($mod) {
 
    @if $mod == all {
      position: static;
      transform: translate(0,0);
    }

    @if $mod == width {
      position: static;
      transform: translateX(0);
    }

    @if $mod == height {
      position: static;
      transform: translateY(0);
    }

}
// End center-off

// placeholder
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}
// End placeholder

// hidden
@mixin hidden($mod) {

    @if $mod == on {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
    }

    @if $mod == off {
        opacity: 1;
        z-index: 100;
        visibility: visible;
    }
}
// End hidden

// mobies
@mixin mobies() {
    margin-left: -7.5px;
    margin-right: -7.5px;

    > *{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}
// End mobies