<div class="row">

    <div class="col-sm-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>
                <div class="actions box_lang_muti"></div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="lang_label">
                        <span>Tên</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Nhập tên " class="form-control value_lang active" ng-model="new_cat.title" name="title">
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Mô tả</span>
                    </label>
                    
                    <textarea ng-model="new_cat.short_content" id="" cols="30" class="form-control value_lang active" rows="5" name="short_content"></textarea>
                </div>                
                

                <div class="form-group">
                    <label class="lang_label">
                        <span>Nội dung</span>
                    </label>
                    <textarea id="tinymce" class="form-control" name="content"></textarea>
                </div>

                

            </div>

        </div>

    </div>

    <div class="col-sm-4">
        
        
        <div class="portlet light bordered">
            <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Hình đại diện</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-group image-upload edit">
                        <label class="next-label">Đổi hình</label>
                        <div class="row-fluid pos-r">
                            <div form-avatar> </div>
                            <span message-image class="error" ng-show="check_image()"></span>
                            <button class="btn-upload-file" type="button" id="upload_button">Đổi hình</button>
                        </div>
                    </div>
                </div>
        </div>

    </div>

    <div class="col-sm-12">
        <div class="portlet light bordered">
            <div class="form-actions right1">
                <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Back</button>

                <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modalMap" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Choose company location</h4>
        </div>

        <div class="modal-body">
            <p>Click on the map to select the company location</p>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="googleMap" style="width: 100%; height: 500px;"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-close width90" data-dismiss="modal">
                <i class="fa fa-close"></i>
                <span>Close</span>
            </button>

            <button type="button" class="btn btn-style width90" ng-click="apply_geolocation()">
                <i class="fa fa-check"></i>
                <span>Choose</span>
            </button>
        </div>
    </div>

    </div>
</div>

<!-- Modal add -->
<div id="modal_tongquan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin tổng quan</h4>
            </div>
            <div class="modal-body custom-list-data1">
                <div class="search-bar ">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <a ng-click="add_user()" class="btn sbold green"> Thêm <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="keyword" type="text" class="form-control" placeholder="Từ khóa...">
                                <span class="input-group-btn">
                                    <button ng-click="search_datatable()" class="btn blue uppercase bold" type="button"><span class="glyphicon glyphicon-search"></span> Tìm</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="tbl-dataz" class="table table-striped table-bordered table-hover table-checkable order-column profile_advertise">
                    <thead>
                        <tr>
                            <th><label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" value="1" name="test" id="all_id_player"><span></span></label></th>
                            <th>id</th>
                            <th>data</th>
                            <th>title</th>
                            <th>title_en</th>
                            <th>value</th>
                            <th>value_en</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal add -->
<div id="modal_tienich" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Utility information</h4>
            </div>
            <div class="modal-body custom-list-data1">
                <div class="search-bar ">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <a ng-click="add_user2()" class="btn sbold green"> Add <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="keyword2" type="text" class="form-control" placeholder="Key word...">
                                <span class="input-group-btn">
                                    <button ng-click="search_datatable2()" class="btn blue uppercase bold" type="button"><span class="glyphicon glyphicon-search"></span> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="tbl-dataz2" class="table table-striped table-bordered table-hover table-checkable order-column profile_advertise">
                    <thead>
                        <tr>
                            <th><label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" value="1" name="test" id="all_id_player2"><span></span></label></th>
                            <th>id</th>
                            <th>data</th>
                            <th>title</th>
                            <th>title_en</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>