<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered custom-list-data1">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="search-bar">
            <div class="row">
                <div class="col-sm-4">
                    <a href="admin/function_authority/new" class="btn-green btn-green-trans btn-add">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>

                <div class="col-sm-8 c-boxctr-search">
                    <input type="text" placeholder="Tiêu đề tin tức" class="form-control name">
                    <button class="btn-ctrl btn-cyan-trans btn-search" type="button" ng-click="search_datatable()">
                        <i class="fa fa-search"></i>
                        <span>Tìm kiếm</span>
                    </button>
                    <span class="c-ctr-open">Tìm kiếm nân cao <i class="fa fa-chevron-down" aria-hidden="true"></i></span>

                    <div class="c-seachbox-dropdow">
                        <div class="form-group">
                            <label class="toggle-check lh-37">
                                <input type="checkbox" name="" class="status" checked="checked">
                                <span></span>
                                Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <table id="tbl-data" class="table table-striped table-bordered table-hover order-column" cellspacing="0">
            <thead>
                <tr>
                    <th>Tiêu đề</th>
                    <th>Ngày tạo</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->