<div class="row">

    <div class="col-sm-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>
                <div class="actions box_lang_muti"></div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>Tên cho thuê</span>
                            </label>
                            <input data-lang="vn" type="text" placeholder="Nhập tên cho thuê" class="form-control value_lang active" ng-model="item_project.title">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Loại cho thuê</label>
                            <select class="form-control select2_item_project_cat" id="select2_item_project_cat"></select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Tỉnh</label>
                            <select class="form-control" id="tinhthanh"></select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Quận huyện</label>
                            <select class="form-control" id="quanhuyen"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Tọa độ bản đồ</label>
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="map" ng-model="item_project.map">
                                <span class="input-group-btn">
                                    <button data-toggle="modal" data-target="#modalMap" class="btn btn-default" type="button"><i class="fa fa-globe" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Địa chỉ</label>
                            <input  type="text" class="form-control value_lang active" ng-model="item_project.address">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Mô tả ngắn</span>
                    </label>
                    <textarea id="tinymce1" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Chi tiết</span>
                    </label>
                    <textarea id="tinymce" class="form-control" ></textarea>
                </div>

            </div>

        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Thông tin hình ảnh</span>
                </div>
            </div>
            <div class="portlet-body form">

                <div class="form-group">
                    <label class="next-label">Album hình</label>
                    <div class="palyer-list-images">
                        <div id="load_medias" class="row text-center text-lg-left">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="next-label">Thêm hình</label>
                    <input type="file" id="gallery_player" name="img" multiple>
                </div>

                <div class="form-group">
                    <div class="palyer-list-images">
                        <div id="list-gallery" class="row text-center text-lg-left">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Tổng quan</span>
                </div>
                <div class="actions box_lang_muti">
                    <!-- <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                                    
                            <li>
                                <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                            </li>
                            <li>
                                <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="portlet-body form grid-box-sort tongquan">
                <section class="grid-demo">
                    <div class="controls cf">
                        <div class="control search">
                            <div class="control-icon">
                                <i class="material-icons">&#xE8B6;</i>
                            </div>
                            <input class="control-field search-field form-control " type="text" name="search" placeholder="Search..." />
                        </div>
                        <div class="control filter">
                            <div class="control-icon">
                                <i class="material-icons">&#xE152;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field filter-field form-control">
                                <option value="" selected>All</option>
                                <option value="red">Red</option>
                                <option value="blue">Blue</option>
                                <option value="green">Green</option>
                            </select>
                        </div>
                        <div class="control sort">
                            <div class="control-icon">
                                <i class="material-icons">&#xE164;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field sort-field form-control">
                                <option value="order" selected>Drag</option>
                                <option value="title">Title (drag disabled)</option>
                                <option value="color">Color (drag disabled)</option>
                            </select>
                        </div>
                        <div class="control layout">
                            <div class="control-icon">
                                <i class="material-icons">&#xE871;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field layout-field form-control">
                                <option value="left-top" selected>Left Top</option>
                                <option value="left-top-fillgaps">Left Top (fill gaps)</option>
                                <option value="right-top">Right Top</option>
                                <option value="right-top-fillgaps">Right Top (fill gaps)</option>
                                <option value="left-bottom">Left Bottom</option>
                                <option value="left-bottom-fillgaps">Left Bottom (fill gaps)</option>
                                <option value="right-bottom">Right Bottom</option>
                                <option value="right-bottom-fillgaps">Right Bottom (fill gaps)</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid">
                        
                    </div>
                    <div class="grid-footer1">
                        <button class="btn btn-primary themtq" type="button"><i class="icon-magnifier-add"></i> Thêm tổng quan</button>
                    </div>
                    <div class="grid-footer">
                        <button class="add-more-items btn btn-primary"><i class="fas fa-plus"></i> Add more items</button>
                    </div>
                </section>
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Tiện ích</span>
                </div>
                <div class="actions box_lang_muti">
                   <!--  <div class="btn-group">
                       <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                           <i class="fa fa-angle-down"></i>
                       </a>
                       <ul class="dropdown-menu pull-right">
                                   
                           <li>
                               <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                           </li>
                           <li>
                               <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                           </li>
                       </ul>
                   </div> -->
                </div>
            </div>
            <div class="portlet-body form grid-box-sort tienich">
                <section class="grid-demo2">
                    <div class="controls cf">
                        <div class="control search">
                            <div class="control-icon">
                                <i class="material-icons">&#xE8B6;</i>
                            </div>
                            <input class="control-field search-field2 form-control " type="text" name="search" placeholder="Search..." />
                        </div>
                        <div class="control filter">
                            <div class="control-icon">
                                <i class="material-icons">&#xE152;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field filter2-field2 form-control">
                                <option value="" selected>All</option>
                                <option value="red">Red</option>
                                <option value="blue">Blue</option>
                                <option value="green">Green</option>
                            </select>
                        </div>
                        <div class="control sort">
                            <div class="control-icon">
                                <i class="material-icons">&#xE164;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field sort-field2 form-control">
                                <option value="order" selected>Drag</option>
                                <option value="title">Title (drag disabled)</option>
                                <option value="color">Color (drag disabled)</option>
                            </select>
                        </div>
                        <div class="control layout">
                            <div class="control-icon">
                                <i class="material-icons">&#xE871;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field layout-field2 form-control">
                                <option value="left-top" selected>Left Top</option>
                                <option value="left-top-fillgaps">Left Top (fill gaps)</option>
                                <option value="right-top">Right Top</option>
                                <option value="right-top-fillgaps">Right Top (fill gaps)</option>
                                <option value="left-bottom">Left Bottom</option>
                                <option value="left-bottom-fillgaps">Left Bottom (fill gaps)</option>
                                <option value="right-bottom">Right Bottom</option>
                                <option value="right-bottom-fillgaps">Right Bottom (fill gaps)</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid2">
                        
                    </div>
                    <div class="grid-footer1">
                        <button class="btn btn-primary themtienich" type="button"><i class="icon-magnifier-add"></i> Thêm tiện ích</button>
                    </div>
                    <div class="grid-footer">
                        <button class="add-more-items2 btn btn-primary"><i class="fas fa-plus"></i> Add more items</button>
                    </div>
                </section>
            </div>
        </div>

    </div>

    <div class="col-sm-4">
        
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title2"></span>
                </div>
            </div>
            <div class="portlet-body form">

                <div class="form-group red-mod">
                    <label class="next-label">Duyệt bài đăng</label>
                    <select name="tb_active" class="form-control tb_active">
                        <option value="">-- Chọn trạng thái --</option>
                        <option value="0">Kich hoat</option>
                        <option value="1">Chờ duyệt</option>
                        <option value="2">Nháp</option>
                        <option value="3">Hết hạn</option>
                        <option value="4">Người đăng Xóa</option>
                        <option value="5">Trả lại</option>
                    </select>
                </div>

                <div class="form-group red-mod">
                    <label class="next-label">Meta Robot</label>
                    <select name="metarobot" class="form-control metarobot">
                        <option value="0">Không chọn</option>
                        <option value="NOINDEX,FOLLOW">NOINDEX - FOLLOW</option>
                        <option value="INDEX,NOFOLLOW">INDEX - NOFOLLOW</option>
                        <option value="NOINDEX,NOFOLLOW">NOINDEX - NOFOLLOW</option>
                    </select>
                </div>

                <div class="form-group hidden">
                    <label class="next-label">Ngày đăng</label>
                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                        <input ng-model="item_project.start_day" type="text" class="form-control" readonly="">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span class="type_mark">Giá thuê / Tháng</span>
                        
                    </label>
                    <input  ng-model="item_project.allprice_mark" type="text" class="form-control">
                </div>

                <form id="thongtin">
                    <div class="form-group">
                        <label class="next-label">Số phòng ngủ</label>
                        <input ng-model="item_project.thongtin.phongngu" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="next-label">Số phòng tắm</label>
                        <input ng-model="item_project.thongtin.phongtam" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="next-label">Hướng nhà</label>
                        <input ng-model="item_project.thongtin.huongnha" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="next-label">Diện tích</label>
                        <input  ng-model="item_project.area" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="next-label">Diện tích sử dụng</label>
                        <input ng-model="item_project.thongtin.dientichsd" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="next-label">Vĩa hè</label>
                        <input ng-model="item_project.thongtin.viahe" type="text" class="form-control">
                    </div>
                </form>

            </div>
        </div>

        

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Hình đại diện</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group image-upload edit">
                    <label class="next-label">Chọn hình</label>
                    <div class="row-fluid pos-r">
                        <div form-avatar> </div>
                        <span message-image class="error" ng-show="check_image()"></span>
                        <button class="btn-upload-file" type="button" id="upload_button">Đổi hình</button>
                    </div>
                </div>

            </div>

        </div>
        
    </div>

    <div class="col-sm-12">
        <div class="portlet light bordered">
            <div class="form-actions right1">
                <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

                <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modalMap" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Chọn vị trí công ty</h4>
        </div>

        <div class="modal-body">
            <p>Click trên bản đồ để chọn vị trí công ty</p>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="googleMap" style="width: 100%; height: 500px;"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-close width90" data-dismiss="modal">
                <i class="fa fa-close"></i>
                <span>Đóng</span>
            </button>

            <button type="button" class="btn btn-style width90" ng-click="apply_geolocation()">
                <i class="fa fa-check"></i>
                <span>Chọn</span>
            </button>
        </div>
    </div>

    </div>
</div>

<!-- Modal add -->
<div id="modal_tongquan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin tổng quan</h4>
            </div>
            <div class="modal-body custom-list-data1">
                <div class="search-bar ">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <a ng-click="add_user()" class="btn sbold green"> Thêm <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="keyword" type="text" class="form-control" placeholder="Từ khóa...">
                                <span class="input-group-btn">
                                    <button ng-click="search_datatable()" class="btn blue uppercase bold" type="button"><span class="glyphicon glyphicon-search"></span> Tìm</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="tbl-dataz" class="table table-striped table-bordered table-hover table-checkable order-column profile_advertise">
                    <thead>
                        <tr>
                            <th><label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" value="1" name="test" id="all_id_player"><span></span></label></th>
                            <th>id</th>
                            <th>data</th>
                            <th>title</th>
                            <th>title_en</th>
                            <th>value</th>
                            <th>value_en</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal add -->
<div id="modal_tienich" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin tiện ích</h4>
            </div>
            <div class="modal-body custom-list-data1">
                <div class="search-bar ">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <a ng-click="add_user2()" class="btn sbold green"> Thêm <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="keyword2" type="text" class="form-control" placeholder="Từ khóa...">
                                <span class="input-group-btn">
                                    <button ng-click="search_datatable2()" class="btn blue uppercase bold" type="button"><span class="glyphicon glyphicon-search"></span> Tìm</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="tbl-dataz2" class="table table-striped table-bordered table-hover table-checkable order-column profile_advertise">
                    <thead>
                        <tr>
                            <th><label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" value="1" name="test" id="all_id_player2"><span></span></label></th>
                            <th>id</th>
                            <th>data</th>
                            <th>title</th>
                            <th>title_en</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>