<div class="row">

    <div class="col-sm-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>
                <div class="actions box_lang_muti">
                   <!--  <div class="btn-group">
                       <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                           <i class="fa fa-angle-down"></i>
                       </a>
                       <ul class="dropdown-menu pull-right">
                                   
                           <li>
                               <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                           </li>
                           <li>
                               <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                           </li>
                       </ul>
                   </div> -->
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>Tên dự án</span>
                                <!-- <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                                <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt=""> -->
                            </label>
                        
                            <input data-lang="vn" type="text" placeholder="Nhập tên dự án" class="form-control value_lang active" ng-model="item_project.title">
                        
                            <input data-lang="en" type="text" placeholder="Nhập tên dự án (English)" class="form-control value_lang" ng-model="item_project.title_en">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Loại dự án</label>
                            <select class="form-control " id="product_cat1"></select>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>Block</span>
                               
                            </label>
                        
                            <input data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="item_project.block">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>Số căn</span>
                               
                            </label>
                        
                            <input data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="item_project.can">
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Số tầng</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Số tầng" class="form-control value_lang active" ng-model="item_project.sotang">
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Chủ đầu tư</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Chủ đầu tư" class="form-control value_lang active" ng-model="item_project.chudautu">
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Quy mô</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Quy mô" class="form-control value_lang active" ng-model="item_project.quymo">
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Nhà thầu</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Nhà thầu" class="form-control value_lang active" ng-model="item_project.nhathau">
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Kiến trúc cảnh quan</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Kiến trúc cảnh quan" class="form-control value_lang active" ng-model="item_project.kientruccanhquan">
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Ngân hàng bảo lãnh</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Ngân hàng bảo lãnh" class="form-control value_lang active" ng-model="item_project.nganhangbaolanh">
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Tình trạng bàn giao</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Tình trạng bàn giao" class="form-control value_lang active" ng-model="item_project.tinhtrangbangiao">
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Ngày bàn giao</span>
                    </label>
                    <input data-lang="vn" type="text" placeholder="Ngày bàn giao" class="form-control value_lang active" ng-model="item_project.ngaybangiao">
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Tóm tắt</span>
                        <!-- <span class="en_alt">(English)</span>
                        <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                        <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt=""> -->
                    </label>
                    
                    <div class="value_lang active" data-lang="vn">
                        <textarea id="tinymce2" class="form-control"></textarea>
                    </div>
                
                    <div class="value_lang" data-lang="en">
                        <textarea id="tinymce2_en" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Giới thiệu</span>
                        <!-- <span class="en_alt">(English)</span>
                        <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                        <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt=""> -->
                    </label>
                    
                    <div class="value_lang active" data-lang="vn">
                        <textarea id="tinymce" class="form-control"></textarea>
                    </div>
                
                    <div class="value_lang" data-lang="en">
                        <textarea id="tinymce_en" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Vị trí</span>
                        <!-- <span class="en_alt">(English)</span>
                        <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                        <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt=""> -->
                    </label>
                    
                    <div class="value_lang active" data-lang="vn">
                        <textarea id="tinymce3" class="form-control"></textarea>
                    </div>
                
                    <div class="value_lang" data-lang="en">
                        <textarea id="tinymce3_en" class="form-control"></textarea>
                    </div>
                </div>

                

                

            </div>

        </div>

    </div>

    <div class="col-sm-4">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Tối ưu seo</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="lang_label"><span>Description</span></label>
                    <textarea type="text" ng-model="item_project.description" placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label class="lang_label"><span>Key word</span></label>
                    <input type="text" ng-model="item_project.keyword" placeholder="Key word" class="form-control">
                </div>
            </div>
        </div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Thông tin dự án</span>
                </div>
                <div class="actions box_lang_muti">
                    <!-- <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                                    
                            <li>
                                <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                            </li>
                            <li>
                                <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Ngày đăng</label>
                    <div class="input-group date date-picker"  data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                        <input ng-model="item_project.start_date" type="text" class="form-control" >
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Giá tiền (tr/m<sup>2</sup>)</span>
                        <!-- <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                        <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt=""> -->
                    </label>

                    <div data-lang="vn" class="value_lang active">
                        <div class="input-group">
                            <input type="text" ng-model="item_project.cost" class="form-control">
                            <span class="input-group-addon">vnđ</span>
                        </div>
                    </div>

                    <div data-lang="en" class="value_lang">
                        <div class="input-group">
                            <input type="text" ng-model="item_project.cost_en" class="form-control">
                            <span class="input-group-addon">$</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="next-label">Diện tích</label>
                    <input ng-model="item_project.time" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Địa chỉ</span>
                        <!-- <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                        <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt=""> -->
                    </label>
                
                    <textarea data-lang="vn" placeholder="Nhập địa chỉ" class="form-control value_lang active" ng-model="item_project.address" rows="5"></textarea>
                
                    <textarea data-lang="en" placeholder="Nhập địa chỉ (English)" class="form-control value_lang" ng-model="item_project.address_en" rows="5"></textarea>
                </div>

            </div>

        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Hình đại diện</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Chọn hình</label>
                    <div class="row-fluid">
                        <form action="#" id="avatar" class="dropzone"></form>
                    </div>

                </div>

            </div>

        </div>


    </div>

    <div class="col-sm-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Thông tin tổng quan</span>
                </div>
                <div class="actions box_lang_muti">
                    <!-- <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                                    
                            <li>
                                <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                            </li>
                            <li>
                                <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="portlet-body form grid-box-sort tongquan">
                <section class="grid-demo">
                    <div class="controls cf">
                        <div class="control search">
                            <div class="control-icon">
                                <i class="material-icons">&#xE8B6;</i>
                            </div>
                            <input class="control-field search-field form-control " type="text" name="search" placeholder="Search..." />
                        </div>
                        <div class="control filter">
                            <div class="control-icon">
                                <i class="material-icons">&#xE152;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field filter-field form-control">
                                <option value="" selected>All</option>
                                <option value="red">Red</option>
                                <option value="blue">Blue</option>
                                <option value="green">Green</option>
                            </select>
                        </div>
                        <div class="control sort">
                            <div class="control-icon">
                                <i class="material-icons">&#xE164;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field sort-field form-control">
                                <option value="order" selected>Drag</option>
                                <option value="title">Title (drag disabled)</option>
                                <option value="color">Color (drag disabled)</option>
                            </select>
                        </div>
                        <div class="control layout">
                            <div class="control-icon">
                                <i class="material-icons">&#xE871;</i>
                            </div>
                            <div class="select-arrow">
                                <i class="material-icons">&#xE313;</i>
                            </div>
                            <select class="control-field layout-field form-control">
                                <option value="left-top" selected>Left Top</option>
                                <option value="left-top-fillgaps">Left Top (fill gaps)</option>
                                <option value="right-top">Right Top</option>
                                <option value="right-top-fillgaps">Right Top (fill gaps)</option>
                                <option value="left-bottom">Left Bottom</option>
                                <option value="left-bottom-fillgaps">Left Bottom (fill gaps)</option>
                                <option value="right-bottom">Right Bottom</option>
                                <option value="right-bottom-fillgaps">Right Bottom (fill gaps)</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid">
                        
                    </div>
                    <div class="grid-footer1">
                        <button class="btn btn-primary themtq" type="button"><i class="icon-magnifier-add"></i> Thêm tổng quan</button>
                    </div>
                    <div class="grid-footer">
                        <button class="add-more-items btn btn-primary"><i class="fas fa-plus"></i> Add more items</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
    

    <div class="col-sm-12">
        <div class="portlet light bordered">
            <div class="form-actions right1">
                <button type="button" class="btn default" ng-click="back()"> <i class="fas fa-arrow-left"></i> Trở về</button>

                <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal add -->
<div id="modal_tongquan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin tổng quan</h4>
            </div>
            <div class="modal-body custom-list-data1">
                <div class="search-bar ">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <a ng-click="add_user()" class="btn sbold green"> Thêm <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="keyword" type="text" class="form-control" placeholder="Từ khóa...">
                                <span class="input-group-btn">
                                    <button ng-click="search_datatable()" class="btn blue uppercase bold" type="button"><span class="glyphicon glyphicon-search"></span> Tìm</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="tbl-dataz" class="table table-striped table-bordered table-hover table-checkable order-column profile_advertise">
                    <thead>
                        <tr>
                            <th><label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" value="1" name="test" id="all_id_player"><span></span></label></th>
                            <th>id</th>
                            <th>data</th>
                            <th>title</th>
                            <th>title_en</th>
                            <th>value</th>
                            <th>value_en</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>